name: Build Missing Images
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build & Push kubectl
        uses: docker/build-push-action@v4
        with:
          context: .
          target: kubectl
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/kubectl:v1.23.17
      - name: Build & Push kube-state-metrics (cheng)
        uses: docker/build-push-action@v4
        with:
          context: .
          target: ksm-cheng
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/kube-state-metrics:v2.3.0-cheng
      - name: Build & Push kube-state-metrics (bitnami)
        uses: docker/build-push-action@v4
        with:
          context: .
          target: ksm-bitnami
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/kube-state-metrics:v2.3.0-bitnami
